.content__friends > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  color: var(--b4);
  font-size: 1.25rem;
  font-weight: 600;
}

.content__friends-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__friends-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.content__friends-list li span {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  gap: 20px;
}

.content__friends-list li img {
  width: 28px;
  border-radius: 50%;
}

.content__friends-list li::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.friends-list__online::after {
  background: #5fd460;
}

.friends-list__offline::after {
  background: #3a495d;
}

.friends__load-more {
  margin: 40px 0;
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--b4);
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 60px;
  border-bottom: 2px solid var(--b3);
}

.friends__load-more box-icon {
  background-color: var(--b3);
  border-radius: 50%;
}
