.header-bg {
  background-color: var(--b2);
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
}

.header__logo {
  color: var(--w);
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.25rem;
  font-weight: 600;
}

.header__menu a {
  padding: 10px 25px;
}

.header__menu a:hover {
  background-color: var(--main1);
  color: var(--w);
  border-radius: 15px;
}

.menu-ico {
  display: none;
}

.header__icones {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__icones button {
  background: none;
  border: none;
  cursor: pointer;
}
