* box-icon {
  fill: #d3d5dc;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--w);
  background-color: var(--b1);
}

a {
  color: var(--b4);
}

.notification {
  position: relative;
}

.notification::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #5fd460;
  border: 3px solid var(--b2);
  border-radius: 50%;
  position: absolute;
  right: 3px;
}

.btn-menu {
  padding: 10px 25px;
}

.btn-menu:hover {
  background-color: var(--main1);
  color: var(--w);
  border-radius: 15px;
}
